@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";


font-bentham {
  font-family: "Bentham", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  @apply m-0;
  font-family: "Old Standard TT", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




